.descriptionContainer {
  display: flex;
  flex-direction: column;
  .productName {
    margin: 10px 0 0 10px;
    font-weight: 300;
  }
  .productPrice {
    margin: 5px 0 15px 10px;
    font-weight: 500;
  }
}
