.productCard {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  justify-content: center;
  align-items: center;
  font-size: 18px;
  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    transition: all 0.3s;

    .addCartButton {
      opacity: 1;
      transition: all 0.3s;
      cursor: pointer;
    }
  }

  .link {
    text-decoration: none;
    color: #1d1f22;
  }

  .imageContainer {
    height: 330px;
    margin: 15px;

    .productPicture {
      align-items: center;
      object-fit: contain;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.outOfStock {
  opacity: 0.5;
  &:hover {
    box-shadow: none;
  }
}
