@use "../../../assets/scss/util/" as *;

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    @include respond-to("tablet") {
      width: 45px;
      height: 45px;
    }
  }

  span {
    text-align: center;
    font-family: "raleway";
    font-weight: 500;
    font-size: 20px;
  }
}
