.quantityCircle {
  position: relative;
  right: 10px;
  top: -12px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 22px;
  font-family: "raleway";
  font-weight: 700;
  cursor: pointer;
}
