.imageSlider {
  width: 200px;
  height: 100%;
  box-shadow: 0 1px 5px rgba(110, 110, 110, 0.1);

  .mainImage {
    width: 100%;
  }
}

.arrowContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  div {
    display: flex;
    position: absolute;
    margin: 5px;
    .arrowButton {
      background-color: black;
      padding: 5px;
      margin: 5px;
    }
  }
}
