.miniCartHeader {
  width: 94%;
  margin: auto;
  font-family: "raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  span {
    font-weight: 500;
  }
}
