.price {
  font-family: "roboto condensed";
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-top: 20px;

  .amount {
    display: block;
    font-family: "raleway";
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
  }
}
