@use "../../Assets/Scss/Util/" as *;

.modalContainer {
  position: fixed;
  top: 50px;
  width: 100%;
  max-height: 70vh;
  margin: auto;
  right: 0;
  background-color: #ffffff;
  z-index: 30;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: 0.3s slideInFromTop;
  @include respond-to("tablet") {
    width: 325px;
    right: 8%;
    top: 80px;
  }
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@keyframes slideInFromTop {
  0% {
    transform: translatey(-7%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
