.navigationLinks {
  width: 26%;
  display: flex;
  justify-content: space-evenly;

  p {
    font-family: "raleway";
    font-size: 25px;
    font-weight: 400;
    line-height: 80px;
    color: #1d1f22;
    margin: 0;

    &:hover {
      font-weight: 600;
      color: #5ece7b;
      border-bottom: 2px solid #5ece7b;
    }
  }
}
