.galleryPics {
  width: 55%;
  display: flex;
  flex-direction: row;

  .gallerySideBar {
    display: flex;
    flex-direction: column;
    width: 120px;
    max-height: 560px;
  }

  .galleryImage {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.image {
  max-width: 85%;
  max-height: 560px;
  align-self: flex-start;
}
