@use "../../../assets/scss/components/attributes.module" as attributes;

.attributes {
  margin-bottom: 24px;
}

.attribute {
  margin: 6px;
  box-shadow: 0 1px 5px rgba(110, 110, 110, 0.5);
}

.colorAttribute {
  padding: 5px 14px;
}

.attributeOptions {
  @include attributes.attributeOption;
}
.attributeName {
  @include attributes.attributeName;
}

.active {
  border: 1px solid #5ece7b;
}
