@use "../../../Assets/Scss/Mixins/attributes.module" as attributes;

.attributesContainer {
  margin-bottom: 24px;
}

.attribute {
  margin: 6px;
  border: 1px solid #1d1f22;
}

.attribute:nth-of-type(1) {
  margin-left: 0 !important;
}

.inStock {
  opacity: 0.5;
}

.colorAttribute {
  padding: 5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.attributeOptions {
  @include attributes.attributeOption;
}
.attributeName {
  @include attributes.attributeName;
}

.active {
  border: 1px solid #5ece7b;
}
