.navigationBar {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  z-index: 25;

  .navContainer {
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
  }
}
