@use "../../../assets/scss/util/" as *;

.productGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-bottom: 50px;

  @include respond-to("tablet") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: 50px;
  }
}
