@use "../../Assets/Scss/Util/" as *;

.categoryContainer {
  width: 78%;
  margin: auto;
  margin-bottom: 40px;
  @include respond-to("tablet") {
    margin-bottom: 0;
  }

  h1 {
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 400;
    text-align: start;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    @include respond-to("tablet") {
      text-align: unset;
    }
  }
}
