.cartIcon {
  position: relative;
  top: -25%;
  width: 100%;

  .showCartButton {
    opacity: 0;
    display: flex;
    align-self: flex-end;
    position: absolute;
    width: 52px;
    right: 8%;
    z-index: 2;
  }
}
