.attributes {
  margin-bottom: 8px;
}

.attribute {
  margin: 8px;
  box-shadow: 0 1px 5px rgba(110, 110, 110, 0.5);
}

.colorAttribute {
  padding: 5px 14px;
}

.attributeOptions {
  padding: 7px 20px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}
.attributeName {
  margin-bottom: 15px;
  font-family: "roboto condensed";
  font-weight: 700;
  font-size: 18px;
}

.active {
  background: #1d1f22;
  color: white;
}

.activeColor {
  border: 1px solid #5ece7b;
}
