@use "../../assets/scss/util/" as *;

.mobileNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  @include respond-to("tablet") {
    display: none;
  }

  .burgerIcon {
    margin-left: 5px;
  }

  .logo {
    margin-left: 75px;
    display: flex;
    justify-content: center;
  }

  .currencyCart {
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    width: 25%;
    min-width: 90px;
    margin-right: 5px;
  }
}
