@use "../../Assets/Scss/Util/" as *;

.mobileNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 95%;
  background-color: #ffffff;
  margin: auto;
  @include respond-to("tablet") {
    display: none;
  }

  .burgerIcon {
    margin-left: 5px;
  }

  .logo {
    margin-left: 75px;
    display: flex;
    justify-content: center;
  }

  .currencyCart {
    display: flex;
    width: 25%;
    min-width: 90px;
    margin-right: 5px;
  }
}
